* {
    margin: 0;
    padding: 0;
}
  

.basket {
    margin-top: 150px;
    position: relative;
    min-height: 800px;
    
    &-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;

        h1 {
            font-size: 36px;
            color: rgb(48, 48, 48);
            text-transform: uppercase;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            color: #606060;
            font-style: italic;
            margin-top: 15px;
        }
    }

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        color: #a8a8a8;
        
        &-left {
            display: flex;

            h3 {
                font-size: 13px;
                color: rgb( 144, 144, 144);
                text-transform: uppercase;
                text-align: center;
                margin-right: 100px;
                margin-bottom: 5px;
            }
        }

        &-right {
            display: flex;
            
            h3 { 
                font-size: 13px;
                color: rgb(144, 144, 144);
                text-transform: uppercase;
                text-align: center;
                margin-right: 100px;
                margin-bottom: 5px;
            }
        }
    }

    &-line{
        width: 100%;
        height: 1px;
        background: #e5e5e5;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            align-items: center;
            margin-top: 20px;
           
            &-id {
                display: none;
            }

            &-pic {
                width: 100px;
                height: 100px;
                border: 1px solid #e5e5e5;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('/images/2.jpg');
            }

            &-text {
                margin-left: 60px;
                p {
                    font-size: 13px;
                    color: rgb(48, 48, 48);
                    text-transform: uppercase;
                    text-align: left;
                    font-weight: 600;
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;
            margin-right: 250px;

            &-size {
                font-size: 15px;
                color: rgb(48, 48, 48);
                text-transform: uppercase;
                text-align: center;
                margin-right: 48px;
            }

            &-quantity {
                font-size: 15px;
                color: rgb(48, 48, 48);
                text-transform: uppercase;
                text-align: center;
                margin-right: 80px;

                    .qty {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        margin-left: 100px;
                        margin-right: 35px;
                    }

                    .plus {
                        background-color: black;
                        color: white;
                        width: 13px;
                        height: 15px;
                        margin: auto;
                        position: relative;
                        top: -10px;
                        left: -30px;
                        border: none;
                        cursor: pointer;
                    }

                    .minus {
                        background-color: black;
                        color: white;
                        width: 13px;
                        height: 15px;
                        margin: auto;
                        position: relative;
                        top: 10px;
                        left: -47px;
                        border: none;
                        cursor: pointer;
                    }

            }

            &-price {
                font-size: 15px;
                color: rgb(48, 48, 48);
                text-align: left;
                margin-right: 20px;
            }

            &-delete {
                position: absolute;
                top: 240px;
                right: 118px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                color: rgb( 144, 144, 144);

                &::before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 30px;
                    background-color: rgb( 144, 144, 144);
                    transform: rotate(-45deg);
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 30px;
                    background-color: rgb( 144, 144, 144);
                    transform: rotate(-135deg);
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                }
            }
        }
    }

    &-button {
        font-size: 20px;
        width: 200px;
        padding: 20px;
        text-align: center;
        background-color: rgb(254, 134, 29);
        color: #ffffff;
        margin: 20px auto;
        cursor: pointer;
        margin-top: 150px;
    }
    
}