.catalog{
    position: relative;
    min-height: 800px;
    &-header{
        &-main{
            color: rgb(139, 139, 139);
            text-align: left;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 13px;
        }
        &-h1{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            color: #595858;
            margin: 10px;
        }
        &-desc{
            text-align: center;
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            color: rgb(128, 127, 127);
            margin-bottom: 50px;
        }
        &-filter{
            display: flex;
            justify-content: center;
            align-items: center;
           &-category{
            //    position: relative;
               input{
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom-color: #595858;
                border-bottom-width: 1.5px;
                margin: 10px;
               }
               input::-webkit-input-placeholder{
                font-style: italic;
                color: rgb(128, 127, 127);

                // &-category::before{
                //     content: '';
                //     position: absolute;
                //     height: 10px;
                //     width: 10px;
                //     background-color: black;
                //     }
                }
           }
           &-size{
               input{
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom-color: #595858;
                border-bottom-width: 1.5px;
                margin: 10px;
               }
               input::-webkit-input-placeholder{
                font-style: italic;
                color: rgb(128, 127, 127);
               }
           }
           &-price{
               input{
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom-color: #595858;
                border-bottom-width: 1.5px;
                margin: 10px;
               }
               input::-webkit-input-placeholder{
                font-style: italic;
                color: rgb(128, 127, 127);
               }
           }
        }
    }
    &-preloader{
        &.hide{
            display: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: #ffffff;
    }
    &-products{
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        &-item{
            margin: 20px;
            width: 21%;
            text-decoration: none;
            box-sizing: border-box;
            &-img{
                width: 100%;
                height: 255px;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                border: 1px solid #cccccc;

            }
            &-name{
                margin-top: 30px;
                color: #595858;
                font-weight: 800;
                text-decoration: none;
                text-align: center;
            }
            &-price{
                margin-top: 10px;
                text-align: center;
                color: #595858;
            }
        }
    }
    &-pagination{
        display: flex;
        justify-content: center;
        align-items: center;

        &-page{
            margin: 10px;
            border:  1px solid #595858;
            width: 25px;
            height: line-height;
            text-align: center;
            color: white;
            background-color: #595858;
            text-decoration: none;
        }
        catalog-pagination-page:active{
            background-color: white;
            color: #595858;
        }

    }
}