@keyframes download1 {
    0% { color: rgba(34, 34, 34, 0); }
  25% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 1); } 
  75% { color: rgba(34, 34, 34, 1); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes download2 {
    0% { color: rgba(34, 34, 34, 0); }
  25% { color: rgba(34, 34, 34, 0); }
  50% { color: rgba(34, 34, 34, 1); } 
  75% { color: rgba(34, 34, 34, 1); }
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes download3 {
    0% { color: rgba(34, 34, 34, 0); }
  25% { color: rgba(34, 34, 34, 0); }
  50% { color: rgba(34, 34, 34, 0); } 
  75% { color: rgba(34, 34, 34, 1); }
  100% { color: rgba(34, 34, 34, 0); }
}

.catalog{
    position: relative;
    min-height: 800px;
    &-header{
        &-main{
            color: rgb(139, 139, 139);
            text-align: left;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 13px;
        }
        &-h1{
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            color: #424242;
            margin: 10px;
        }
        &-desc{
            text-align: center;
            font-style: italic;
            font-weight: 300;
            font-size: 20px;
            color: rgb(128, 127, 127);
            margin-bottom: 50px;
        }
        &-filter{
            display: flex;
            justify-content: center;
            align-items: center;
           &-category{
                position: relative;
                border-bottom: 1px solid #595858;
                margin: 15px;
                width: 15%;
                cursor: pointer;

                &.open{
                    opacity: 0.1;
                }

                &-name-of-filter{
                    font-style: italic;
                    color: rgb(128, 127, 127);
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -3px;
                    display: block;
                    width: 0; 
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 7px solid black;
                }
                &-openbox{
                    nav{
                        display: none;
                        position: absolute;
                        min-height: 200px;
                        width: 100%;
                        align-items: left;
                        justify-content: center;
                        flex-direction: column;
                        background-color: white;
                        opacity: 0.9;
                        top: 20px;

                        &.open{
                            display: flex;
                        }

                        a{
                            text-decoration: none;
                            margin: 13px 2px;;
                            color: rgb(128, 127, 127);

                        }
                    } 
                }
            }
            &-size{
                position: relative;
                border-bottom: 1px solid #595858;
                margin: 15px;
                width: 15%;
                cursor: pointer;

                &-name-of-filter{
                    font-style: italic;
                    color: rgb(128, 127, 127);
                }
    
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -3px;
                    display: block;
                    width: 0; 
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 7px solid black;
                }

                &-openbox{
                    nav{
                    display:  none;
                    position: absolute;
                    min-height: 200px;
                    width: 100%;
                    align-items: left;
                    justify-content: center;
                    flex-direction: column;
                    background-color: white;
                    opacity: 0.9;
                    top: 20px;
    
                        &.open{
                        display: flex;
                        }
    
                        a{
                        text-decoration: none;
                        margin: 13px 2px;;
                        color: rgb(128, 127, 127);
                        }
                    } 
                }
            }
           &-price{
                position: relative;
                border-bottom: 1px solid #595858;
                margin: 15px;
                width: 15%;
                cursor: pointer;

                &-openbox{
                    nav{
                    display:  none;
                    position: absolute;
                    min-height: 200px;
                    width: 100%;
                    align-items: left;
                    justify-content: center;
                    flex-direction: column;
                    background-color: white;
                    opacity: 0.9;
                    top: 20px;
    
                        &.open{
                        display: flex;
                        }
    
                        a{
                        text-decoration: none;
                        margin: 13px 2px;;
                        color: rgb(128, 127, 127);
                        }
                    } 
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -3px;
                    display: block;
                    width: 0; 
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 7px solid black;
                }
            }
        }
    }
    &-preloader{
        &.hide{
            display: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: #ffffff;

        &-dots{
            text-align: right;
            font-size: 50px;
            color: #ffffff;

            .dot1{
                animation: download1 1s linear infinite;
            }
            .dot2{
                animation: download2 1s linear infinite;
            }
            .dot3{
                animation: download3 1s linear infinite;
            }
        }
    }
    &-products{
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        &-item{
            margin: 20px;
            width: 21%;
            text-decoration: none;
            box-sizing: border-box;
            &-img{
                width: 100%;
                height: 255px;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                border: 1px solid #cccccc;

            }
            &-name{
                margin-top: 30px;
                color: #595858;
                font-weight: 800;
                text-decoration: none;
                text-align: center;
            }
            &-price{
                margin-top: 10px;
                text-align: center;
                color: #595858;
            }
        }
    }
    &-pagination{
        display: flex;
        justify-content: center;
        align-items: center;

        &-item{
            margin: 10px;
            border:  1px solid #595858;
            width: 25px;
            text-align: center;
            color: white;
            background-color: #3d3d3d;
            text-decoration: none;
            box-sizing: border-box;
            padding: 10px 5px;
            line-height: 7px;
            border: 1px solid #1f1f1f;
            cursor: pointer;

            &.active{
                background-color: white;
                color: #595858;
            }
        }
    }
}
@media (max-width: 799px){
    .catalog-products-item{
        width: 100%;
    }
    .catalog-header-filter-category{
        width: 23%;
    }
    .catalog-header-filter-size{
        width: 23%;
    }
    .catalog-header-filter-price{
        width: 23%;
    }
}